<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
<div th:replace="fragments/base :: base">
    <main class="main" th:fragment="content">
        <!-- DESCRIPCIÓN -->
        <div class=main-description>
            <div>
                <h2>Room Types</h2>
                <p>*Update Room Type.</p>
            </div>
        </div>
        <!-- CONTENIDO -->
        <section class="main-content">
            <form th:action="@{/roomtype/save}" method="post" th:object="${roomtype}">
                <div class="register">
                    <input type="hidden" th:field="*{idroomtype}">

                    <label for="txtroomtypename">ROOM TYPE</label>
                    <input type="text" id="txtroomtypename" th:field="*{roomtypename}" required>

                    <button type="submit" class="btn-registrar">Update</button>
                    <button type="button" onclick="history.back()" class="btn-cancelar">Cancel</button>
                </div>
            </form>
        </section>
    </main>
</div>
</body>
</html>