<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
    <!-- NAVEGACIÓN PRINCIPAL -->
    <nav class="navbar" th:fragment="navbar" role="navigation">
        <ul class="nav-list">
            <li class="nav-item">
                <a th:href="@{/configuration}" class="nav-link" aria-label="Configuración">
                    <i class="fa-solid fa-gear"></i>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>
