<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
    <!-- NAVEGACIÓN PRINCIPAL -->
    <nav class="navbar" th:fragment="navbar" role="navigation">
        <ul class="nav-list">
            <li class="nav-item">
                <a th:href="@{/configuration}" class="nav-link" aria-label="Configuración">
                    <i class="fa-solid fa-gear"></i>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/profile}" class="nav-link" aria-label="Perfil de usuario">
                    <i class="fa-solid fa-user"></i>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>
