<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- MENU LATERAL -->
<aside class="sidebar" th:fragment="sidebar">

    <!-- TÍTULO -->
    <h1 class="sidebar-title">
        <a th:href="@{/home}">
            <i class="fa-solid fa-hotel"></i>
        </a>
    </h1>

    <!-- PERFIL USUARIO -->
    <a href="#" class="sidebar-user">Joel Fernandez</a>

    <!-- MENU DE NAVEGACIÓN -->
    <nav>
        <ul>
            <li>
                <a class="nav-btn" th:href="@{/customer}">
                    <div class="icon">
                        <i class="fa-sharp fa-solid fa-user"></i>
                    </div>
                    <span>Customer</span>
                </a>
            </li>
            <li>
                <a class="nav-btn" th:href="@{/room}">
                    <div class="icon">
                        <i class="fa-solid fa-bed"></i>
                    </div>
                    <span>Room</span>
                </a>
            </li>
            <li class="has-submenu">
                <a class="nav-btn" th:href="@{/reception}" >
                    <div class="icon">
                        <i class="fa-solid fa-phone-flip"></i>
                    </div>
                    <span>Reception</span>
                </a>
                <ul class="submenu">
                    <li><a href="reception.html">Reception</a></li>
                    <li><a href="reservationMain.html">Reservation</a></li>
                    <li><a href="reservation.html" class="ultimo">Reservation list</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-btn" th:href="@{/invoice}">
                    <div class="icon">
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                    </div>
                    <span>Invoice</span>
                </a>
            </li>
            <li>
                <a class="nav-btn" href="">
                    <div class="icon">
                        <i class="fa-solid fa-bell-concierge"></i>
                    </div>
                    <span>Extra Service</span></a>
            </li>
            <li>
                <a class="nav-btn" th:href="@{/employee}">
                    <div class="icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <span>Employees</span>
                </a>
            </li>
            <li>
                <a class="nav-btn" th:href="@{/roles}">
                    <div class="icon">
                        <i class="fa-solid fa-ranking-star"></i>
                    </div>
                    <span>Roles</span></a>
            </li>
            <li>
                <a class="nav-btn" href="">
                    <div class="icon">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                    <span>Sign Out</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>