<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
<div th:replace="fragments/base :: base">
    <main class="main" th:fragment="content">
        <!-- DESCRIPCIÓN -->
        <div class=main-description>
            <div>
                <h2>Reception</h2>
                <p>*Room Availability.</p>
            </div>
        </div>
        <!-- CONTENIDO -->
        <section class="main-content">
            <table class="detalle">
                <tr th:object="${room}">
                    <td th:text="${room.idroom}" style="display: none;"></td>
                    <td class="th">ROOM N° :</td>
                    <td th:text="${room.roomnum}"></td>
                    <td class="th">TYPE :</td>
                    <td th:text="${room.roomtype.roomtypename}"></td>
                    <td class="th">STATUS :</td>
                    <td th:text="${room.roomstatus.roomstatusname}"></td>
                </tr>
                <tr>
                    <td class="th">DESCRIPTION :</td>
                    <td th:text="${room.roomdescription}" colspan="3"></td>
                    <td class="th">PRICE :</td>
                    <td th:text="${room.price}"></td>
                </tr>
            </table>
        </section>
        <br>
        <hr>
        <br>
        <section class="main-content">
            <form th:action="@{/booking/save}" method="post" th:object="${booking}">
                <div class="register">
                    <input type="hidden" name="id" id="txtid" th:field="*{idbooking}" >
                    <label for="txtbookingdate">BOOKING DATE</label>
                    <input type="date" name="code" id="txtbookingdate" th:field="*{bookingdate}" >

                    <label for="cbocustomer">CUSTOMER</label>
                    <select th:field="*{idcustomer}" id="cbocustomer" disabled>
                        <option th:each="customer : ${customers}" th:value="${customer.idcustomer}" th:text="${customer.firstname} +' '+ ${customer.fatherlastname}"></option>
                    </select>

                    <label for="txtcheckindate">CHECK-IN DATE</label>
                    <input type="date" id="txtcheckindate" th:field="*{checkindate}" required>

                    <input type="hidden" id="txtroom" th:value="${idroom}" th:field="${room.idroom}">

                    <label for="txtcheckoutdate">CHECK-OUT DATE</label>
                    <input type="date" id="txtcheckoutdate" th:field="*{checkoutdate}" required>

                    <button type="submit" class="btn-registrar">Update</button>
                    <button type="button" onclick="history.back()" class="btn-cancelar">Cancel</button>
                </div>
            </form>
        </section>
    </main>
</div>
</body>
</html>