<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
<div th:replace="fragments/base :: base">
    <main class="main" th:fragment="content">
        <!-- DESCRIPCIÓN -->
        <div class=main-description>
            <div>
                <h2>Booking</h2>
                <p>*List of Bookings.</p>
            </div>
        </div>
        <!-- CONTENIDO -->
        <section class="main-content">
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Huésped</td>
                        <td>N.º Habitación</td>
                        <td>Fecha de reserva</td>
                        <td>Fecha Check-IN</td>
                        <td>Fecha Check-OUT</td>
                        <td>Precio</td>
                        <td>Edit</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking : ${bookings}">
                        <td th:text="${booking.idbooking}"></td>
                        <td th:text="${booking.customer.firstname}"></td>
                        <td th:text="${booking.room.roomnum}"></td>
                        <td th:text="${booking.bookingdate}"></td>
                        <td th:text="${booking.checkindate}"></td>
                        <td th:text="${booking.checkoutdate}"></td>
                        <td th:text="${booking.room.price}"></td>
                        <td>
                            <a href="#" class="edit"> <!--th:href="@{/booking/edit/{id}(id=${booking.idbooking})}"-->
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
</body>
</html>