<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
    <div th:replace="fragments/base :: base">
        <main class="main" th:fragment="content">
            <!-- DESCRIPCIÓN -->
            <div class=main-description>
                <div>
                    <h2>Customer</h2>
                    <p>*Total Customer Registry.</p>
                </div>
                <a th:href="@{/customerForm}">
                    <span>New Customer</span>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <!-- CONTENIDO -->
            <section class="main-content">
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Father's Last</td>
                            <td>Mother's Last</td>
                            <td>First Name</td>
                            <td>Middle Name</td>
                            <td>DNI</td>
                            <td>Phone</td>
                            <td>E-mail</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Fernandez</td>
                            <td>Pancorvo</td>
                            <td>Joel</td>
                            <td>Anderson</td>
                            <td>72463299</td>
                            <td>969480248</td>
                            <td>fernandezpancorvo@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Gomez</td>
                            <td>Rojas</td>
                            <td>Maria</td>
                            <td>Elena</td>
                            <td>72567890</td>
                            <td>987654321</td>
                            <td>maria.rojas@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Martinez</td>
                            <td>Lopez</td>
                            <td>Ricardo</td>
                            <td>Antonio</td>
                            <td>73654321</td>
                            <td>945678901</td>
                            <td>ricardo.martinez@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Sanchez</td>
                            <td>García</td>
                            <td>Andrea</td>
                            <td>Paola</td>
                            <td>74765432</td>
                            <td>912345678</td>
                            <td>andrea.sanchez@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Torres</td>
                            <td>Vega</td>
                            <td>Carlos</td>
                            <td>Javier</td>
                            <td>75876543</td>
                            <td>923456789</td>
                            <td>carlos.torres@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Mendoza</td>
                            <td>Perez</td>
                            <td>Lucía</td>
                            <td>Isabel</td>
                            <td>76987654</td>
                            <td>934567890</td>
                            <td>lucia.mendoza@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Rodriguez</td>
                            <td>Fernandez</td>
                            <td>Jorge</td>
                            <td>Eduardo</td>
                            <td>77123456</td>
                            <td>945678901</td>
                            <td>jorge.rodriguez@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Vasquez</td>
                            <td>Chavez</td>
                            <td>Paula</td>
                            <td>Milagros</td>
                            <td>78234567</td>
                            <td>956789012</td>
                            <td>paula.vasquez@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Castillo</td>
                            <td>Gutierrez</td>
                            <td>Fernando</td>
                            <td>Esteban</td>
                            <td>79345678</td>
                            <td>967890123</td>
                            <td>fernando.castillo@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Paredes</td>
                            <td>Ramirez</td>
                            <td>Monica</td>
                            <td>Raquel</td>
                            <td>80456789</td>
                            <td>978901234</td>
                            <td>monica.paredes@gmail.com</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>