<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h3 class="sidebar-title">ZenHotel</h3>
            <div class="sidebar-user">
                <a href="#" class="sidebar-user__profile">
                    <i class='bx bxs-user-circle' style='color:#ffffff'></i>
                    <span class="sidebar-user__text">Joel Fernandez</span>
                </a>
            </div>
            <div class="search">
                <nav>
                    <ul>
                        <li>
                            <a class="nav-btn" href="huesped.html">
                                <i class='bx bx-user-circle' ></i>
                                <span>Huesped</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-btn" href="habitacion.html">
                                <i class='bx bxs-dashboard'></i>
                                <span>Habitación</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-btn" href="">
                                <i class='bx bx-analyse'></i>
                                <span>Facturación</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-btn" href="reserva.html">
                                <i class='bx bx-analyse'></i>
                                <span>Reserva</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-btn" href="">
                                <i class='bx bxs-dashboard'></i>
                                <span>Servicio Extra</span></a>
                        </li>
                        <li>
                            <a class="nav-btn" href="">
                                <i class='bx bx-user-circle' ></i>
                                <span>Empleado</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-btn" href="cargo.html">
                                <i class='bx bxs-dashboard'></i>
                                <span>Cargo</span></a>
                        </li>
                        <li>
                            <a class="nav-btn" href="">
                                <i class='bx bxs-exit'></i>
                                <span>Sign Out</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="sidebar-null"></div>
        <div class="header">
            <nav class="nav">
                <ul class="ul">
                    <li class="li">
                        <input type="search" name="" id="" placeholder="Search here">
                    </li>
                    <li>
                        <a href="#" class="a">
                            <i class='bx bxs-color'></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="a">
                            <i class='bx bxs-user'></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <main class="main">
                <div class=main-description>
                    <div class="main-tittle">
                        <h2>Habitaciones</h2>
                        <p>Registro total de habitaciones en el hotel.</p>
                    </div>
                    <a href="#">Register +</a>
                </div>
                
                <section class="main-container">
                    <label for="">Huésped</label>
                    <input type="text">
                    <label for=""></label>
                </section>
            </main>
        </div>
    </div>
</body>
</html>