<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gráfico de Barras</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h2>Habitaciones Disponibles</h2>
<p>El número de habitaciones disponibles es: <span th:text="${availableRoomsCount}"></span></p>

<h2>Gráfico de Barras</h2>
<canvas id="barChart"></canvas>

<script th:inline="javascript">
  const labels = [[${categorias}]];
  const data = {
      labels: labels,
      datasets: [{
          label: 'Ventas por Mes',
          data: [[${valores}]],
          backgroundColor: 'rgba(54, 162, 235, 0.6)'
      }]
  };

  const config = {
      type: 'bar',
      data: data,
      options: {
          responsive: true,
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  };

  new Chart(document.getElementById('barChart'), config);
</script>


</body>
</html>
