<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZenHotel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- CONTENEDOR -->
    <div class="container">

        <!-- MENU LATERAL -->
        <aside class="sidebar">

            <!-- TÍTULO -->
            <h1 class="sidebar-title">
                <a href="home.html">
                    <i class="fa-solid fa-hotel"></i>
                </a>
            </h1>

            <!-- PERFIL USUARIO -->
            <a href="#" class="sidebar-user">Joel Fernandez</a>

            <!-- MENU DE NAVEGACIÓN -->
            <nav>
                <ul>
                    <li>
                        <a class="nav-btn" href="huesped.html">
                            <div class="icon">
                                <i class="fa-sharp fa-solid fa-user"></i>
                            </div>
                            <span>Customer</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a class="nav-btn" href="recepcion.html">
                            <div class="icon">
                                <i class="fa-solid fa-bed"></i>
                            </div>
                            <span>Room</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="recepcion.html">Reception</a></li>
                            <li><a href="habitacion.html">Room List</a></li>
                            <li><a href="formulario_habitacion.html" class="ultimo">New Room</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-btn" href="">
                            <div class="icon">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                            </div>
                            <span>Facturación</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-btn" href="reserva.html">
                            <div class="icon">
                                <i class="fa-solid fa-file-pen"></i>
                            </div>
                            <span>Reserva</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-btn" href="">
                            <div class="icon">
                                <i class="fa-solid fa-bell-concierge"></i>
                            </div>
                            <span>Servicio Extra</span></a>
                    </li>
                    <li>
                        <a class="nav-btn" href="">
                            <div class="icon">
                                <i class="fa-solid fa-users"></i>
                            </div>
                            <span>Empleado</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-btn" href="cargo.html">
                            <div class="icon">
                                <i class="fa-solid fa-ranking-star"></i>
                            </div>
                            <span>Roles</span></a>
                    </li>
                    <li>
                        <a class="nav-btn" href="">
                            <div class="icon">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </div>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- SIDEBAR NULL -->
        <div class="sidebar-null"></div>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="main-container">

            <!-- NAVEGACIÓN PRINCIPAL -->
            <nav class="navbar">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="configuracion.html" class="nav-link">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- SUB-CONTENIDO PRINCIPAL -->
            <div class="main">

                <!-- DESCRIPCIÓN -->
                <div class=main-description>

                    <!-- TÍTULO Y SUBTITULO-->
                    <div>
                        <h2>Customer</h2>
                        <p>*Total Registered Customers.</p>
                    </div>

                    <!-- BOTÓN NUEVO -->
                    <a href="#">
                        <span>Add New Customer</span>
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>

                <!-- CONTENIDO -->
                <section class="main-content">
                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>APE PATERNO</td>
                                <td>APE MATERNO</td>
                                <td>1° NOMBRE</td>
                                <td>2° NOMBRE</td>
                                <td>DNI</td>
                                <td>TELÉFONO</td>
                                <td>E-MAIL</td>
                                <td>EDIT</td>
                                <td>DELETE</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Fernandez</td>
                                <td>Pancorvo</td>
                                <td>Joel</td>
                                <td>Anderson</td>
                                <td>72463299</td>
                                <td>969480248</td>
                                <td>fernandezpancorvo@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Gomez</td>
                                <td>Rojas</td>
                                <td>Maria</td>
                                <td>Elena</td>
                                <td>72567890</td>
                                <td>987654321</td>
                                <td>maria.rojas@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Martinez</td>
                                <td>Lopez</td>
                                <td>Ricardo</td>
                                <td>Antonio</td>
                                <td>73654321</td>
                                <td>945678901</td>
                                <td>ricardo.martinez@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Sanchez</td>
                                <td>García</td>
                                <td>Andrea</td>
                                <td>Paola</td>
                                <td>74765432</td>
                                <td>912345678</td>
                                <td>andrea.sanchez@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Torres</td>
                                <td>Vega</td>
                                <td>Carlos</td>
                                <td>Javier</td>
                                <td>75876543</td>
                                <td>923456789</td>
                                <td>carlos.torres@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Mendoza</td>
                                <td>Perez</td>
                                <td>Lucía</td>
                                <td>Isabel</td>
                                <td>76987654</td>
                                <td>934567890</td>
                                <td>lucia.mendoza@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Rodriguez</td>
                                <td>Fernandez</td>
                                <td>Jorge</td>
                                <td>Eduardo</td>
                                <td>77123456</td>
                                <td>945678901</td>
                                <td>jorge.rodriguez@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Vasquez</td>
                                <td>Chavez</td>
                                <td>Paula</td>
                                <td>Milagros</td>
                                <td>78234567</td>
                                <td>956789012</td>
                                <td>paula.vasquez@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Castillo</td>
                                <td>Gutierrez</td>
                                <td>Fernando</td>
                                <td>Esteban</td>
                                <td>79345678</td>
                                <td>967890123</td>
                                <td>fernando.castillo@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Paredes</td>
                                <td>Ramirez</td>
                                <td>Monica</td>
                                <td>Raquel</td>
                                <td>80456789</td>
                                <td>978901234</td>
                                <td>monica.paredes@gmail.com</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
        <script src="https://kit.fontawesome.com/ac73eff05a.js" crossorigin="anonymous"></script>
        <script src="../static/js/script.js"></script>
</body>
</html>