<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZenHotel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/css/style.css">
</head>
<body class="bg-dark">

    <main class="m-auto">

        <div class="container w-75 bg-dark mt-4 text-white">

            <div class="row align-items-stretch">

                <div class="col p-5 rounded-end">

                    <div class="text-center py-3">
                        <img src="../../../../../../../Downloads/JavaSpring/avatar.png" alt="Logo">
                    </div>

                    <!--  LOGIN -->

                    <form action="#" method="post">

                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" name="connected" id="connected" class="form-check-input">
                            <label for="connected" class="form-check-label">Remember me</label>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary">Sign in</button>
                        </div>

                        <div class="my-3">
                            <span><a href="#">Forgot the password</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>