<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
    <div th:replace="fragments/base :: base">
        <main class="main" th:fragment="content">
            <!-- DESCRIPCIÓN -->
            <div class=main-description>
                <div>
                    <h2>Room Status</h2>
                    <p>*List of Room Statues.</p>
                </div>
                <a th:href="@{/roomStatusForm}">
                    <span>New Status</span>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <!-- CONTENIDO -->
            <section class="main-content">
                <table class="table-50">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Room Status</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ocupada</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Libre</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Preparando</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Libre</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Libre</td>
                            <td>
                                <a href="#" class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <a href="#" class="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>