<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
    <div th:replace="fragments/base :: base">
        <main class="main" th:fragment="content">
            <!-- DESCRIPCIÓN -->
            <div class=main-description>
                <div>
                    <h2>Room</h2>
                    <p>*Register / Update Room.</p>
                </div>
            </div>
            <!-- CONTENIDO -->
            <section class="main-content">
                <form action="" method="post">
                    <div class="register">
                        <label for="id">ID</label>
                        <input type="text" disabled value="13" name="id" id="id">

                        <label for="numroom">N.º ROOM	</label>
                        <input type="number" placeholder="0" id="numroom">

                        <label for="type">TYPE</label>
                        <select id="type">
                            <option value="" selected disabled>-- Select --</option>
                            <option value="simple">Simple</option>
                            <option value="">Doble</option>
                            <option value="">Triple</option>
                            <option value="">Suite</option>
                        </select>

                        <label for="">STATUS</label>
                        <select name="" id="">
                            <option value="" selected disabled>-- Select --</option>
                            <option value="">Disponible</option>
                            <option value="">Ocupada</option>
                            <option value="">Reservada</option>
                            <option value="">Mantenimiento</option>
                        </select>

                        <label for="price">PRICE</label>
                        <input type="number" placeholder="0" id="price">

                        <label for="description">DESCRIPTION</label>
                        <input type="text" id="description">

                        <button type="submit" class="btn-registrar">Save</button>
                        <button type="button" onclick="history.back()" class="btn-cancelar">Cancel</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>
</html>