<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZenHotel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <!-- CONTENEDOR -->
    <div class="container">

        <!-- MENU LATERAL -->
        <aside th:replace="fragments/sidebar :: sidebar"></aside>

        <!-- SIDEBAR NULL -->
        <div class="sidebar-null"></div>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="main-container">

            <!-- NAVEGACIÓN PRINCIPAL -->
            <nav class="navbar" th:replace="fragments/navbar :: navbar"></nav>

            <!-- SUB-CONTENIDO PRINCIPAL -->
            <main class="main">

                <!-- DESCRIPCIÓN -->
                <div class=main-description>

                    <!-- TÍTULO Y SUBTITULO-->
                    <div>
                        <h2>Type</h2>
                        <p>*Type List.</p>
                    </div>

                    <!-- BOTÓN NUEVO -->
                    <a href="roomTypeForm.html" class="btn-plus">
                        <span>New Type</span>
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>

                <!-- CONTENIDO -->
                <section class="main-content">
                    <table class="table-50">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Room Type</td>
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Single</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Double</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Twin</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Queen</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>King</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Suite</td>
                                <td>
                                    <a href="#" class="edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section> <!-- CLOSE CONTENIDO -->
            </main> <!-- CLOSE SUB-CONTENIDO PRINCIPAL -->
        </div> <!-- CLOSE CONTENIDO PRINCIPAL -->
    </div> <!-- CLOSE CONTENEDOR -->

    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/ac73eff05a.js" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>