<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZenHotel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <!-- CONTENEDOR -->
    <div class="container">

        <!-- MENU LATERAL -->
        <aside th:replace="fragments/sidebar :: sidebar"></aside>

        <!-- SIDEBAR NULL -->
        <div class="sidebar-null"></div>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="main-container">

            <!-- NAVEGACIÓN PRINCIPAL -->
            <nav class="navbar" th:replace="fragments/navbar :: navbar"></nav>

            <!-- SUB-CONTENIDO PRINCIPAL -->
            <main class="main">

                <!-- DESCRIPCIÓN -->
                <div class=main-description>

                    <!-- TÍTULO Y SUBTITULO-->
                    <div>
                        <h2>Room</h2>
                        <p>*Update Room Type.</p>
                    </div>

                </div>

                <!-- CONTENIDO -->
                <section class="main-content">
                    <form action="" method="post">
                        <div class="register">
                            <label for="id">ID</label>
                            <input type="text" disabled value="3" name="id" id="id">

                            <label for="type">ROOM TYPE</label>
                            <select name="type" id="type">
                                <option value="single">SINGLE</option>
                                <option value="double">DOUBLE</option>
                                <option value="twin">TWIN</option>
                                <option value="queen">QUEEN</option>
                                <option value="king">KING</option>
                                <option value="suite">SUITE</option>
                            </select>
                        </div>
                    </form>
                </section> <!-- CLOSE CONTENIDO -->
            </main> <!-- CLOSE SUB-CONTENIDO PRINCIPAL -->
        </div> <!-- CLOSE CONTENIDO PRINCIPAL -->
    </div> <!-- CLOSE CONTENEDOR -->

    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/ac73eff05a.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>