<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
<div th:replace="fragments/base :: base">
    <main class="main" th:fragment="content">
        <!-- DESCRIPCIÓN -->
        <div class=main-description>
            <div>
                <h2>Room Status</h2>
                <p>*Add New Room Status</p>
            </div>
        </div>
        <!-- CONTENIDO -->
        <section class="main-content">
            <form th:action="@{/roomstatus/save}" method="post" th:object="${roomstatus}">
                <div class="register">
                    <label for="txtroomstatusname">PAYMENT STATUS</label>
                    <input type="text" id="txtroomstatusname" th:field="*{roomstatusname}" required>

                    <button type="submit" class="btn-registrar">Save</button>
                    <button type="button" onclick="history.back()" class="btn-cancelar">Cancel</button>
                </div>
            </form>
        </section>
    </main>
</div>
</body>
</html>