<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
<div th:replace="fragments/base :: base">
    <main class="main" th:fragment="content">
        <!-- DESCRIPCIÓN -->
        <div class=main-description>
            <div>
                <h2>Room Status</h2>
                <p>*List of Room Status.</p>
            </div>
            <a th:href="@{/roomstatus/create}">
                <span>New Room Status</span>
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
        <!-- CONTENIDO -->
        <section class="main-content">
            <table class="table-50">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Room Status</td>
                    <td>Edit</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="roomstatus : ${roomstatuses}">
                    <td th:text="${roomstatus.idstatus}"></td>
                    <td th:text="${roomstatus.roomstatusname}"></td>
                    <td>
                        <a th:href="@{/roomstatus/edit/{idstatus}(id=${roomstatus.idstatus})}" class="edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
</body>
</html>