<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
    <meta charset="UTF-8">
    <title>ZenHotel</title>
</head>
<body>
<div th:replace="fragments/base :: base">
    <main class="main" th:fragment="content">
        <!-- DESCRIPCIÓN -->
        <div class=main-description>
            <div>
                <h2>Room</h2>
                <p>*List of Room.</p>
            </div>
            <a th:href="@{/room/create}">
                <span>New Room</span>
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
        <!-- CONTENIDO -->
        <section class="main-content">
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>N.º Room</td>
                        <td>Type</td>
                        <td>Status</td>
                        <td>Price</td>
                        <td>Description</td>
                        <td>Edit</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="room : ${rooms}">
                        <td th:text="${room.idroom}"></td>
                        <td th:text="${room.roomnum}"></td>
                        <td th:text="${room.roomtype.roomtypename}"></td>
                        <td th:text="${room.roomstatus.roomstatusname}"></td>
                        <td th:text="${room.price}"></td>
                        <td th:text="${room.roomdescription}"></td>
                        <td>
                            <a th:href="@{/room/edit/{id}(id=${room.idroom})}" class="edit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
</body>
</html>